@page "/Category"
<PageTitle>Categories List</PageTitle>

@using BusinessLogic.Category_Components;

<h3>Categories</h3>

<h1>
    Categories List
    <a class="btn btn-success btn-sm" style="float: right;margin-right: 40px;" onclick="@(() => NavigationManager.NavigateTo("/Category/Create"))" >Create + </a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var category in categoryList)
        {
            <tr>
                <td>@category.Name</td>
                <td>@GetFormattedDate(category.CreationDate)</td>
                <td>@category.Status</td>
                <td>@category.Type</td>
                <td>
                    <a class="btn btn-success btn-sm" href="/Category/@category.CategoryId/Edit">Edit</a>
                    <button class="btn btn-danger btn-sm" @onclick="(() => DeleteCategory(category.CategoryId))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Category>? categoryList;

    [CascadingParameter]
    public User user { get; set; }


    protected override void OnInitialized()
    {
        categoryList = user.GetCategories();
    }

    private void DeleteCategory(int categoryId)
    {
        user.DeleteCategory(user.MyCategories[categoryId]);
    }

    string GetFormattedDate(DateTime date)
    {
        return date.ToString("dd/MM/yyyy");
    }


}

