@page "/Transactions/{accountId:int}/CreateTransaction"

@using BusinessLogic.Account_Components;
@using BusinessLogic.Transaction_Components;
@using BusinessLogic.Category_Components;
@using BusinessLogic.ExchangeHistory_Components;

<h3>Transaction Creation</h3>

@if (ErrorAlert.isError)
{
    <ErrorAlert errorTxt="@errorTxt" />
}


<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="Name" @bind="title" />
    </div>

    <br />

    <div>
        <label for="title">Creation Date</label>
        <input type="date" class="form-control" id="creationDate" @bind="creationDate" />
    </div>

    <br />

    <div>
        <label for="title">Amount</label>
        <input type="number" class="form-control" id="InitialAmount" @bind="amount" />
    </div>

    <div>
        <label for="title">Currency Type</label>
        <select class="form-select" aria-label="Default select example">

            <option value="@accountSelected.Currency">@accountSelected.Currency</option>
        </select>
    </div>

    <br />

    <div>
        <label for="title">Type</label>
        <select class="form-select" aria-label="Default select example" @bind="transactionType">

            @if(accountSelected is MonetaryAccount)
            {
                <option value="@TypeEnum.Income">@TypeEnum.Income</option>
                <option value="@TypeEnum.Outcome">@TypeEnum.Outcome</option>
            }

            else
            {
                <option value="@TypeEnum.Outcome">@TypeEnum.Outcome</option>
            }

        </select>
    </div>

    <br />
    <div>
        <label for="title">Category</label>
        <select class="form-select" aria-label="Default select example" @bind="categoryId">
            @foreach (var category in myCategories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <br />

    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
    <a href="/Transactions">Cancelar</a>
</form>

@if (SuccesAlert.IsSucess)
{
    <SuccesAlert errorTxt="Transaction created successfully" />
}


@code
{
    private string title;
    private decimal amount;
    private DateTime creationDate;
    private CurrencyEnum currencyType;
    private TypeEnum transactionType;
    private int categoryId;

    private Category category;
    private Account accountSelected;
    private List<Category> myCategories;
    private Transaction transactionToAdd;

    [Parameter]
    public int accountId { get; set; }
    public string errorTxt {get;set;}

    [CascadingParameter]
    public User mainUser { get; set; }

    protected override void OnInitialized()
    {
        ResetValues();
    }

    private void ResetValues()
    {
        title = "";
        amount = 0;
        creationDate = DateTime.Now.Date;
        transactionType = TypeEnum.Outcome;
        currencyType = CurrencyEnum.UY;
        accountSelected = mainUser.MyAccounts[accountId];
        myCategories = mainUser.GetCategories();
        category = new Category();
        if (myCategories.Count == 0) { categoryId = -1; }
        else { categoryId = myCategories[0].CategoryId; }

        ErrorAlert.isError = false;
        SuccesAlert.IsSucess = false;
   

        StateHasChanged(); // Notify Blazor that status changes have been made
    }


    private async void SaveChanges()
    {
        try
        {
            if (accountSelected.Currency == CurrencyEnum.USA)
            {
                Transaction.CheckExistenceOfExchange(creationDate, mainUser.GetExchangesHistory());
            }
            if(categoryId == -1)
            {
                throw new ExceptionAccountManagement("ERROR - Must select a category");
            }
            category = myCategories[categoryId];
            transactionToAdd = new Transaction(title, amount, creationDate, accountSelected.Currency, transactionType, category);
            accountSelected.AddTransaction(transactionToAdd);
            accountSelected.UpdateAccountMoneyAfterAdd(transactionToAdd);
            SuccesAlert.ShowSucessAlert();
            await Task.Delay(2000);
            ResetValues();

        }

        catch(Exception ExceptionTransaction)
        {
            errorTxt = ExceptionTransaction.Message;
            ErrorAlert.ShowErrorAlert();
        }
    }

    string GetFormattedDate(DateTime date)
    {
        return date.ToString("dd/MM/yyyy");
    }




}
