@inject ITransactionController TransactionController


@page "/Transactions/{accountId:int}/EditTransaction/{transactionId:int}"



<h3>Transaction Creation</h3>

@if (ErrorAlert.isError)
{
    <ErrorAlert errorTxt="@errorTxt" />
}

<form>

    <div>
        <label for="title">Amount</label>
        <input type="number" class="form-control" id="InitialAmount" @bind="amount" />
    </div>

    <div>
        <label for="title">Currency Type</label>
        <select class="form-select" aria-label="Default select example" @bind="currencyType">
            <option value="@CurrencyEnumDTO.UY">@CurrencyEnumDTO.UY</option>
            <option value="@CurrencyEnumDTO.USA">@CurrencyEnumDTO.USA</option>
            <option value="@CurrencyEnumDTO.EUR">@CurrencyEnumDTO.EUR</option>
        </select>
    </div>

    <br />
    <div>
        <label for="title">Category</label>
        <select class="form-select" aria-label="Default select example" @bind="categoryId">
            @foreach (var category in allCategories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <br />

    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
    <a href="/Transactions">Cancelar</a>
</form>

<br />


@code
{
    private string title;
    private decimal amount;
    private TypeEnumDTO type;
    private CurrencyEnumDTO currencyType;
    private TypeEnumDTO transactionType;
    private DateTime creationDate;
    private int categoryId;
    private AccountDTO accountOfTransaction;

    private decimal oldAmount;

    private List<CategoryDTO> allCategories;
    
    private CategoryDTO category;

    private AccountDTO accountSelected;

    private TransactionDTO transactionUpdated;

    [Parameter]
    public int accountId { get; set; }

    [Parameter]
    public int transactionId { get; set; }

    [CascadingParameter]
    public UserDTO userConnected { get; set; }

    public string errorTxt { get; set; }

    protected override void OnInitialized()
    {
        transactionUpdated = TransactionController.FindTransaction(transactionId, accountId, userConnected.UserId);
        accountOfTransaction = TransactionController.FindAccountById(accountId,userConnected.UserId);
        allCategories = TransactionController.GetAllCategories(userConnected.UserId);
        
        title = transactionUpdated.Title;
        amount = transactionUpdated.Amount;
        type = transactionUpdated.Type;
        creationDate = transactionUpdated.CreationDate;
        currencyType = transactionUpdated.Currency;
        category = transactionUpdated.TransactionCategory;
        accountSelected = accountOfTransaction;
        
        ErrorAlert.isError = false;
        SuccesAlert.IsSucess = false;

    }

    private void SaveChanges()
    {
        try
        {
            category = TransactionController.FindCategory(categoryId,userConnected.UserId);
            transactionUpdated = new TransactionDTO(title, creationDate, amount, currencyType, type, category,userConnected.UserId);
            transactionUpdated.TransactionId = transactionId;
            
            TransactionController.UpdateTransaction(transactionUpdated,userConnected.UserId);
            NavigationManager.NavigateTo($"/Transactions/{accountId}");
        }

        catch(Exception ExceptionTransaction)
        {
            errorTxt = ExceptionTransaction.Message;
            ErrorAlert.ShowErrorAlert();
        }

    }

}

