@page "/Report/MonthlySpentOnCategory"

@using BusinessLogic.Report_Components;


<h3>MontlySpentOnCategory</h3>


<select class="form-select" aria-label="multiple select example" @bind="monthSelected">

    @foreach (MonthsEnum month in Enum.GetValues(typeof(MonthsEnum)))
    {
        <option value="@month"> @month </option>
    }

</select>

<div class="form-group">
    <label for="title">Confirm Selection Of Month Report</label>
    <button type="button" class="btn btn-outline-danger" @onclick="GenerateReport">Create + </button>
</div>



@if (ConfirmedMonth)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Amount Spent on Goal</th>
                <th>Percentage Of Total</th>
                <td>
                    <button class="btn btn-success btn-sm" onclick="@(() => NavigationManager.NavigateTo($"/Goals"))"> Go Back</button>
                </td>
            </tr>
        </thead>
        <tbody>

            @foreach (var categoryReport in reportsOfEachCategory)
            {
                <tr>
                    <td>@categoryReport.CategoryRelated.Name</td>
                    <td>@categoryReport.TotalSpentInCategory</td>
                    <td>@Math.Round(categoryReport.PercentajeOfTotal)%</td>
                </tr>
            }
        </tbody>
    </table>
}





@code
{
    [CascadingParameter]
    public User user { get; set; }

    private List<ResumeOfSpendigsReport> reportsOfEachCategory;
    private MonthsEnum monthSelected;
    private bool ConfirmedMonth;

    protected override void OnInitialized()
    {
        monthSelected = (MonthsEnum)DateTime.Now.Month;
        reportsOfEachCategory = new List<ResumeOfSpendigsReport>();
        ConfirmedMonth = false;
    }

    private void GenerateReport()
    {
        reportsOfEachCategory = Report.GiveAllSpendingsPerCategoryDetailed(user, monthSelected);

        ConfirmedMonth = true;

    }
}
