@page "/Report/MonthlySpentOnCategory"


@using BusinessLogic.Report_Components;
@using BusinessLogic.Enums;

<h3>Montly Spent On Category</h3>


<select class="form-select" aria-label="multiple select example" @bind="monthSelected">

    @foreach (MonthsEnum month in Enum.GetValues(typeof(MonthsEnum)))
    {
        <option value="@month"> @month </option>
    }

</select>


<div class="form-group">
    <label for="title">Confirm Selection Of Month Report</label>
    <button type="button" class="btn btn-outline-danger" @onclick="GenerateReport">Create + </button>
</div>

<br />
<br />

@if (ConfirmedMonth)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Amount Spent on Goal</th>
                <th>Percentage Of Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var categoryReport in reportsOfEachCategory)
            {
                <tr>
                    <td>@categoryReport.CategoryRelated.Name</td>
                    <td>@categoryReport.TotalSpentInCategory</td>
                    <td>@Math.Round(categoryReport.PercentajeOfTotal)%</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    <label for="title">Confirm Selection Of Month Report</label>
    <button type="button" class="btn btn-outline-danger" @onclick="ShowGraphic"># Show Graphic # </button>
</div>

<td>
    <button class="btn btn-success btn-sm" onclick="@(() => NavigationManager.NavigateTo($"/Reports"))"> Go Back</button>
</td>


@code
{
    [CascadingParameter]
    public User user { get; set; }

    private List<ResumeOfCategoryReport> reportsOfEachCategory;
    private MonthsEnum monthSelected;
    private bool ConfirmedMonth;

    protected override void OnInitialized()
    {
        monthSelected = (MonthsEnum)DateTime.Now.Month;
        reportsOfEachCategory = new List<ResumeOfCategoryReport>();
        ConfirmedMonth = false;
    }

    private void GenerateReport()
    {
        reportsOfEachCategory = Report.GiveAllSpendingsPerCategoryDetailed(user, monthSelected);
        ConfirmedMonth = true;
    }

    public void ShowGraphic()
    {
        NavigationManager.NavigateTo($"/pie/{(int)monthSelected}");
    }

}