@page "/Reports"
@layout MainLayout;
<h2>Report List</h2>


<table class="table table-striped table-bordered claseTabla">
    <thead>
    <tr>
        <th>Name of Report </th>
        <th> Operation Method </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label for="title" style="font-weight: bold; font-size: larger">
                 Create Report For Look Up Spendings Of A Category In One Month Selected
            </label>
        </td>
        <td>

            <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-4 mb-3"
                    onclick="@(() => NavigationManager.NavigateTo("/Report/MonthlySpentOnCategory"))"
                    style="margin-left: 2%">
                Create
            </button>
        </td>
    </tr>
    <tr>
        <td>
            
            <label for="title" style="font-weight: bold; font-size: larger">
                Create Report To Look Up Spendings Made By A Credit Card, For Each Category
            </label>
        </td>
        <td>

            <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-4 mb-3"
                    onclick="@(() => NavigationManager.NavigateTo("/Report/SpendingsOfCreditCard"))"
                    style="margin-left: 2%">
                Create
            </button>
        </td>
    </tr>
    <tr>
        
        <td>
            <label for="title" style="font-weight: bold; font-size: larger">
                 Create Report To Look Up Monthly Report Per Goals
            </label>
        </td>
        <td>

            <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-4 mb-3"
                    onclick="@(() => NavigationManager.NavigateTo("/Report/MonthlyReportGoals"))"
                    style="margin-left: 2%">
                Create
            </button>
        </td>
    </tr>

    <tr>
        <td>
            <label for="title" style="font-weight: bold; font-size: larger">
                Create Report To Look Up All Spendings
            </label>
        </td>
        <td>

            <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-4 mb-3"
                    onclick="@(() => NavigationManager.NavigateTo("/Report/Spendings"))"
                    style="margin-left: 2%">
                Create
            </button>
        </td>
    </tr>
    
    <tr/>
    <tr>
        <td>
            <label for="title" style="font-weight: bold; font-size: larger">
                Create Report To Look Up Movements Between Two Dates For Each Account
            </label>
        </td>
        <td>
            <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-4 mb-3"
                    onclick="@(() => NavigationManager.NavigateTo("/Report/MonthlyMovements"))"
                    style="margin-left: 2%">
                Create
            </button>
        </td>
    </tr>

    </tbody>
</table>