@page "/Reports"

<h3>Report List</h3>


<div class="form-group">
    <label for="title"> Create Monthly Report Per Goal</label>
    <button type="button" class="btn btn-outline-primary" onclick="@(()=> NavigationManager.NavigateTo("/Report/MonthlyReportGoals"))"> Create</button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title"> Create Report Per Category</label>
    <button type="button" class="btn btn-outline-primary" onclick="@(()=> NavigationManager.NavigateTo("/Report/MonthlySpentOnCategory"))"> Create</button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title"> Create Report Of Spent in Each Category</label>
    <button type="button" class="btn btn-outline-primary" onclick="@(()=> NavigationManager.NavigateTo("/Report/SpendingsOfCreditCard"))"> Create</button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title"> Create Report Monetary Balance</label>
    <button type="button" class="btn btn-outline-primary" onclick="@(()=> NavigationManager.NavigateTo("/Report/MonetaryBalance"))"> Create</button>
</div>
<br />
<br />
<div class="form-group">
    <label for="title"> Create General Spendings</label>
    <button type="button" class="btn btn-outline-primary" onclick="@(()=> NavigationManager.NavigateTo( "/Report/Spendings"))"> Create</button>
</div>
