@page "/Reports"
@layout MainLayout;
<h2>Report List</h2>


<br/>
<br/>

<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create Monthly Report Per Goal</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo("/Report/MonthlyReportGoals"))" 
            style="margin-left: 2%"> Create </button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create Report Per Category</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo("/Report/MonthlySpentOnCategory"))"
            style="margin-left: 2%"> Create </button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create Report Of Spent in Each Category</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo("/Report/SpendingsOfCreditCard"))"
            style="margin-left: 2%"> Create</button>
</div>

<br />
<br />

<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create Report Monetary Balance</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo("/Report/MonetaryBalance"))"
            style="margin-left: 2%"> Create</button>
</div>
<br />
<br />
<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create General Spendings</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo( "/Report/Spendings"))"
            style="margin-left: 2%"> Create</button>
</div>
<br/>
<br/>
<div class="form-group">
    <label for="title" style="font-weight: bold; font-size: larger"> Create Monthly movements of transactions</label>
    <button type="button" class="btn btn-success btn btn-primary fa-lg gradient-custom-2 mb-3" 
            onclick="@(()=> NavigationManager.NavigateTo( "/Report/MonthlyMovements"))"
            style="margin-left: 2%"> Create</button>
</div>
