@page "/Register";
@layout LayoutForGuest
@inject IUserController UserController

<section class="vh-100 gradient-custom-2">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create Your User!</h2>

                            <form>

                                @if (ErrorAlert.isError)
                                {
                                    <ErrorAlert errorTxt="@errorTxt" />
                                }

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind="@firstName" />
                                    <label class="form-label" for="form3Example1cg">First name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind="@lastName" />
                                    <label class="form-label" for="form3Example1cg">Last name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" @bind="@email" />
                                    <label class="form-label" for="form3Example3cg">Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" @bind="@password" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" @bind="@passwordRepeated" />
                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind="@address" />
                                    <label class="form-label" for="form3Example1cg">Adress</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-dark "@onclick="RegisterUser">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="#!"
                                                                class="fw-bold text-body"><u>Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@code
{
    private string email = "";
    private string firstName = "";
    private string lastName = "";
    private string? address;
    private string password = "";
    private string passwordRepeated = "";
    public string errorTxt { get; set; }

    protected override void OnInitialized()
    {
        ErrorAlert.isError = false;
        SuccesAlert.IsSucess = false;
    }

    public void RegisterUser()
    {
        try
        {
            GenericController.PasswordMatch(password, passwordRepeated);

            UserDTO userToAdd = new UserDTO(firstName, lastName, email, password, address);
            UserController.RegisterUser(userToAdd);
            NavigationManager.NavigateTo("/");

        }
        catch (Exception ExceptionUser)
        {
            ErrorAlert.ShowErrorAlert();
            errorTxt = ExceptionUser.Message;
        }

    }
}


